@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;

  --editor-width: 497px;
  --preview-width: 65%;
}

h1 {
  font-size: 1.75rem;
  line-height: 3rem;
  font-weight: bold;
  border-bottom: 2px solid black;
  margin: 1.25rem 0;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 2.15rem;
  border-bottom: 1px solid black;
  padding-bottom: 5px;
  margin: 1.25rem 0;
}
h3 {
  font-size: 1.15rem;
  font-weight: bold;
  margin: 1.25rem 0;
}
p {
  margin: 1rem 0;
}

code {
  color: darkred;
}
pre {
  overflow-x: scroll;
}
del {
  display: inline-block;
  text-decoration: line-through;
}
a {
  color: purple;
  text-decoration: underline;
  cursor: pointe;
}
blockquote {
  margin-left: 2rem;
  padding-left: 5px;
  border-left: 4px solid #6e4c9b;
  color: #6e4c9b;
}
blockquote p {
  margin: 0;
}
table {
  border: 1px solid black;
  border-collapse: collapse;
  margin: 1.25rem 0;
  text-align: center;
  vertical-align: center;
}
th,
td {
  border: 1px solid black;
  text-align: center;
  padding: 0.25rem 0.5rem;
}

ul {
  list-style: disc;
  margin-left: 1rem;
  margin-bottom: 1rem;
}
ul ul {
  margin-left: 1rem;
  list-style: disc;
}
ul ul ul {
  list-style: disc;
}
ul ul ul ul {
  list-style: none;
}
ol {
  list-style: decimal;
  margin-left: 1rem;
  margin-bottom: 1rem;
}
ol ol {
  margin-left: 1rem;
  list-style: upper-alpha;
}
